@model IEnumerable<BWL.Domain.Entities.Boat>

@{
    ViewBag.Title = "Boat Wish List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header text-center">
    <h1>BOAT WISH LIST</h1>
    <br />
    <h4>Ahoy Sailors!</h4>
    <h4>Keep the sailboats of your dreams in one place, so when the day comes you'll be ready to make the decision. Explore, learn, have fun.</h4>
</div>

<div class="panel panel-default">
    
    <div class="panel-body">
        @using (Html.BeginForm())
        {

            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                Image
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Length)
                                </th>*@
                            <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>

                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.ImageUrl)" height="150" width="210" alt="Image" />
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Length) ft
                                    </td>*@
                                    <td>
                                        £@Html.DisplayFor(modelItem => item.Price)
                                    </td>


                                <td>

                                    @Html.ActionLink("More information", "Details", new { id = item.Id }, new { @class = "btn btn-info" })

                                </td>
                            </tr>
                        }

                </table>
            </div>


        }
    </div>
    <div class="panel-footer text-right">
        @Html.ActionLink("Add New Boat", "Create", null, new { @class = "btn btn-warning" })
    </div>

</div>